.shopCustomSection{
    width: 90vw;
    flex: 1;
    display: flex;
    margin-top: 5rem;
}
.shopCustomWrapper {
    display: flex;
    min-height: min-content;
}

.shopCustomWrapper {
    scrollbar-width: thin;
    scrollbar-color: #757575 #F7F7F7;
}
  
  /* Chrome, Edge and Safari */
  .shopCustomWrapper::-webkit-scrollbar {
    
    height: 8px;
    width: 8px;
  }
  .shopCustomWrapper::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: #F7F7F7;
  }
  
  .shopCustomWrapper::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
  }
  
  .shopCustomWrapper::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
  }
  
  .shopCustomWrapper::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #757575;
  }
  
  .shopCustomWrapper::-webkit-scrollbar-thumb:hover {
    background-color: #4A4A4A;
  }
  
  .shopCustomWrapper::-webkit-scrollbar-thumb:active {
    background-color: #4A4A4A;
  }













.shopCustomWrapper > article {
    cursor: pointer;
    width: 29vw;
    margin: 0.75vw;
    margin-top: 0;
    margin-bottom: 0;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 24px;
    padding: 1rem;
    box-sizing: border-box;
    /* box-shadow: 0px 0px 32px 16px rgba(0,0,0,0.05); */
   position: relative;

   display: flex;
   flex-wrap: wrap;
   align-items: stretch;
   justify-content: center;
}
.shopCustomWrapper > article:first-child{
    margin-left: 0;
}
.shopBashopCustomWrappersics > article:last-child{
    margin-right: 0vw;
}


.shopCustomWrapper > article > h2{
    font-size: 1.5rem;
    width: 100%;
    color: white;
    margin: 0;
    text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;

   align-self: flex-end;
}

.shopCustomWrapper > article > div {
    align-self: center;
    margin-left: auto;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 99px;
    padding: 0.25rem;
    font-weight: bolder;
    box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.1);
}
.shopCustomWrapper > article > h1{
    font-size: 1.75rem;
    margin: 1rem;
    margin-left: 0;
    width: 100%;
}
.shopCustomWrapper > article > p {
    margin: 0;
    font-weight: 300;
    color: rgba(0,0,0,0.75);
    width: 100%;
}
.shopCustomWrapper > article > img {
    width: 75%;
    aspect-ratio: 1;
    object-fit: cover;
}