.homePage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.header{
    border-bottom: 1px solid black;
    align-self: flex-start;
    margin-left: 5vw;
    min-width: 40%;
}
.header > h1 {
    margin-left: 5vw;
    font-size: 2rem;
}

.homePage > marquee {
    font-weight: 900;
    font-size: 2rem;
    font-style: italic;
    margin: 1rem;
    margin-left: 0;
    margin-right: 0;
}